.bg-light {
  background-image: url('../assets/img.jpg'); /* Pastikan path relatif benar */
  background-size: cover; /* Agar gambar memenuhi seluruh halaman */
  background-repeat: no-repeat; /* Mencegah pengulangan gambar */
  background-position: center; /* Memposisikan gambar di tengah */
}

.bg-white {
    background-color: #fefefe; /* putih lembut */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
}



.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.breadcrumb-item a {
    color: #007bff;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #6c757d;
}

